@CHARSET "UTF-8";

.topHref {
	float: right;
	padding-right: 5px;
	padding-left: 5px;
}

dt {
	background-color: #9C6;
	font-size: large;
	font-weight: bolder;
	color: #FFF;
	margin: 5px;
	padding: 5px;
}

dd {
	margin: 5px;
	padding: 5px;	
}

h1 {
	font-size: xx-large;
	font-weight: bolder;
	color: #9CF;
}

#profile {
	float: left;
	width: 30%;
	margin: 5px;
	padding: 5px;
}

#tweets {
	float: left;
	width: 65%;
	margin: 5px;
	padding: 5px;
}
